@inherits CustomerComponentRazor

<div classs="row">
    <div class="col">First Name</div>
    <div class="col">@FirstName</div>
</div>
<div classs="row">
    <div class="col">Middle Name</div>
    <div class="col">@MiddleName</div>
</div>
<div classs="row">
    <div class="col">Last Name</div>
    <div class="col">@LastName</div>
</div>
<div classs="row">
    <div class="col">Email Address</div>
    <div class="col">@EmailAddress</div>
</div>
<div classs="row">
    <div class="col">Date Of Birth</div>
    <div class="col">@DateOfBirth</div>
</div>